<%- include('includes/head', {pageTitle: 'An error ocuured'}) %>
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <h1>Could not find resource</h1>
        <p>Unfortunetly, we coulde not find the requested resource</p>
       <p><a href="/" class="btn">Back to safety</a></p>
    </main>
<%- include('includes/footer') %>