<div id="header-container">
    <header id="main-header">
        <div id="logo"><a href="/">DoorsPol</a></div>
        <nav>
            <%- include('nav-items') %> 
        </nav>
        <button id="mobile-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
</div>
<aside id="mobile-menu">
    <nav>
        <%- include('nav-items') %>
    </nav>
</aside>